.container{
height: 500px;
width: 500px;
background-color: green;
border: 2px solid red;

}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: aqua;
    border: 2px solid orange;

    transition: 1s;
    /* transition-property: background-color;
    transition-delay: 2s; */

    /* shorthand property : property  time duration timing function delay */
    /* transition: transform 1s ease 2s; */

    /* transition: all 1s ease 2s; */



    /* transition: transform 3s ease-in;
    transition: transform 3s cubic-bezier(0.58,-0.1, 0.69, 1.39),1s; */

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function:cubic-bezier(0.58,-0.1, 0.69, 1.39) ;
    transition-delay: 1s;
}



.box:hover{
    /* background-color: brown;
    transform: rotate(45deg); */

    transform: translateX(500px);
}